html, body {
    /* background-color: red; */
    /* color: black; */
    height: 100%;
}

#title {
    /* background-color: #fff;
    color: black; */
}

#typing {
    /* background-color: #7c9473; */
    /* width: 100%; */
    height: 100%;
}

.no-border {
    /* border: 0; */
    border-top: 0;
    /* box-shadow: none; You may want to include this as bootstrap applies these styles too */
}

#sentence {
 padding-left: 12px;
 font-size: 0;
}

.form-control {
    border: 0;
    border-bottom: 2px solid black;
    box-shadow: none;
    border-radius: 0;
    font-size: 2.5rem;
    color: black;
}

.form-control:focus {
    box-shadow:none;
    color: black;
 }

 .none {
     color: black;
 }

 .good {
     color: blue;
 }

 .bad {
     color: red;
 }

 

 span {
    display: inline-block;
    font-size: 2.5rem;
 }